body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#input-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

#add-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

li {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

li.completed {
  background-color: #f2f2f2;
}

li.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li button.delete-btn {
  margin-left: auto;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

body.dark-mode {
  background-color: #222;
  color: #f5f5f5;
}

body.dark-mode h1 {
  color: #f5f5f5;
}

body.dark-mode #input-container {
  color: #f5f5f5;
}

body.dark-mode #task-input {
  background-color: #333;
  color: #f5f5f5;
}

body.dark-mode #add-btn {
  background-color: #4caf50;
  color: white;
}

body.dark-mode ul {
  color: #f5f5f5;
}

body.dark-mode li {
  background-color: #333;
  color: #f5f5f5;
}

body.dark-mode li.completed {
  background-color: #555;
  color: #f5f5f5;
}

.dark-mode-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.dark-mode-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:active:before {
  width: 32px;
}
